{{ firstName }} {{ lastName }}<br>

<ul>
  {{#each myList as |item index|}}
    <li>{{index}}:{{item.name}} - {{item.age}}</li>
  {{else}}
    <li>Lista Vazia</li>
  {{/each}}
</ul>
<ul>
  {{#each-in myNumbers as |category numbers|}}
    <li>{{category}} </li>
    <ul>
      {{#each numbers as |item|}}
        <li>{{item}}</li>
      {{/each}}
    </ul>
  {{/each-in}}
</ul>

{{outlet}}