{{ firstName }} {{ lastName }}<br>

<input type="text" value="{{firstName}}">

{{ input value=firstName }}<br>
{{input type="checkbox" checked="true"}}<br>
{{textarea cols="50" rows="5" }}<br>

<a href="https://google.com" {{action 'toggleShow' allowedKeys="alt" preventDefault=true}}>Toggle</a>

{{if canShow firstName lastName}}
<button {{action "toggleShow" firstName}} >Toggle</button><br>
<button {{action "toggleShow" on="mouseMove"}} >Toggle</button><br>

{{outlet}}