{{ firstName }} {{ lastName }}<br>

{{ if canShow firstName lastName }}

<input type="checkbox" checked={{canShow}}><br>

{{#if canShow}}
<h1>Hello</h1>
{{else}}
<h1>World</h1>
{{/if}}<br>

{{#unless canShow}}
  <h1>Hello Unless</h1>
{{/unless}}

{{outlet}}